<app-unit-details [unitId]="this.getUnitId()"></app-unit-details>

      <table class="table">
        <tr>
          <th></th>
          <th scope="col">ID</th>
          <th scope="col">BASE</th>
          <th scope="col">POSITION</th>
          <th scope="col">STATUS</th>
          <th scope="col">SPEED</th>
          <th scope="col">ERROR</th>
        </tr>
        <tr *ngFor="let unit of this.getUnits()">
          <td><button (click)="selectUnit(unit.getId())">@</button></td>
          <td>{{ unit.getId() }}</td>
          <td>X: {{ unit.getBase().getX() }} : Y {{ unit.getBase().getY() }}</td>
          <td>X: {{ unit.getPosition().getX() }} : Y {{ unit.getPosition().getY() }}</td>
          <td>{{ unit.getStatus() }}</td>
          <td>{{ unit.getSpeed() }}</td>
          <td>{{ unit.getError() }}</td>
        </tr>
      </table>



