<app-unit-details [unitID]="this.getUnitID()"></app-unit-details>

<div class="unitManagement">
  <table>
    <tr>
      <th></th>
      <th scope="col">ID</th>
      <th scope="col">BASE</th>
      <th scope="col">POSITION</th>
      <th scope="col">STATUS</th>
      <th scope="col">ERROR</th>
      <th scope="col">SPEED</th>
    </tr>
    <tr *ngFor="let unit of this.getUnits() | async; let i = index">
      <td><button (click)="selectUnit(unit.getId())">[X]</button></td>
      <td>{{ unit.getId() }}</td>
      <td>{{ unit.getBase() }}</td>
      <td>{{ unit.getPosition() }}</td>
      <td>{{ unit.getStatus() }}</td>
      <td>{{ unit.getError() }}</td>
      <td>{{ unit.getSpeed() }}</td>
    </tr>
  </table>
</div>
