<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" id="brand">
    Portacs </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active"  id="adminUnit">
        <a class="nav-link" routerLink="/Login">Gestione Unità</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Login" id="adminUser">Gestione Utenti</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Login">Manuale Utente</a>
      </li>
    </ul>
    <button  class=" btn btn-primary" routerLink="/Login" id="btn-log"> Logout</button>
  </div>

</nav>
