<!-- Da aggiungere: *ngFor="let details of obs | async" -->
<!--FORSE SERVE COMUNQUE OBSERVABLE<UNIT[]> ANCHE PER UNA SINGOLA SE NON ITERA-->
<div class="unitDetails">
  <table *ngFor="let unit of obs">
    <tr>
      <td>ID</td>
      <td>{{ unit.getId() }}</td>
    </tr>
    <tr>
      <td>ORDERS</td>
      <td>
        <ul>
          <li *ngFor="let poi of unit.getPoiList()">
            {{ poi }}
            <!--          FUNZIONE CHE TRAMITE ID E POI LO RIMUOVE-->
            <button>Remove</button>
          </li>
          <li>
            <button>Add</button>
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <ul>
    <!--  DA FARE LE FUNZIONI-->
    <li>
      <button>Start</button>
    </li>
    <li>
      <button>Go Back</button>
    </li>
    <li>
      <button>Stop</button>
    </li>
    <li>
      <button>Shutdown</button>
    </li>
  </ul>
</div>
