table {
  margin-left:auto;
  margin-top: 2em;
  margin-right:auto;
  table-layout:fixed;
}

table td {
  border: 3px solid black;
  border-collapse: collapse;
  empty-cells: show;
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  overflow: hidden;
}

.directionAll {
  background-color: #d9d9d9;
}

.directionUp {
  background-image: url("src/assets/images/arrowUp.png");
  background-color: #d9d9d9;
}

.directionDown {
  background-image: url("src/assets/images/arrowDown.png");
  background-color: #d9d9d9;
}

.directionLeft {
  background-image: url("src/assets/images/arrowLeft.png");
  background-color: #d9d9d9;
}

.directionRight {
  background-image: url("src/assets/images/arrowRight.png");
  background-color: #d9d9d9;
}

.cellLocked {
  background-image: linear-gradient(45deg, #a3a3a3 25%, #424242 25%, #424242 50%, #a3a3a3 50%, #a3a3a3 75%, #424242 75%, #424242 100%);
  background-size: 55px 55px;
}

.cellUnit {
  background-color: #ffff66;
}

.cellPoi {
  background: lightgreen;
}

.cellBase {
  background: lightblue;
}

.cellObstacle {
  background: lightcoral;
}


