<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row " id="row-hidden">
    <div class="col-12"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">

      <table class="table">
        <tr *ngFor="let row of this.getArrayHeight(); let i = index">
          <td
            *ngFor="let col of this.getArrayLength(); let j = index"
            [class.directionAll]="directionAll(i, j)"
            [class.directionUp]="directionUp(i, j)"
            [class.directionDown]="directionDown(i, j)"
            [class.directionLeft]="directionLeft(i, j)"
            [class.directionRight]="directionRight(i, j)"
            [class.cellLocked]="cellLocked(i, j)"
            [class.cellBase]="cellBase(i, j)"
            [class.cellPoi]="cellPoi(i, j)"
          >
            <!-- Da aggiungere: " | async" -->
            <span *ngFor="let cell of map">
              <span [innerHTML]="displayCell(cell, i, j)"
                    [class.cellUnit]="cell.getUnit()"
                    [class.cellObstacle]="cell.getObstacle()"
              >
              </span>
            </span>
          </td>
        </tr>
      </table>

    </div>
  </div>

</div>
