<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row " id="row-hidden">
    <div class="col-12"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">

      <table class="table">
        <caption [hidden]="true">Table representing the map of the restaurant.</caption>

        <tr>
          <th scope="col"></th>
          <th *ngFor="let col of this.getMapLength(); let x = index" scope="col">{{ x }}</th>
        </tr>

        <tr *ngFor="let row of this.getMapHeight(); let y = index">

          <td>{{ y }}</td>
          <td *ngFor="let col of this.getMapLength(); let x = index"
              [class.directionAll]="directionAll(y, x)"
              [class.directionUp]="directionUp(y, x)"
              [class.directionDown]="directionDown(y, x)"
              [class.directionLeft]="directionLeft(y, x)"
              [class.directionRight]="directionRight(y, x)"
              [class.cellLocked]="cellLocked(y, x)"
              [class.cellBase]="cellBase(y, x)"
              [class.cellPoi]="cellPoi(y, x)"
          >
            <span *ngFor="let cell of this.getMap()"
                  [class.cellUnit]="cellUnit(y, x)"
                  [class.cellObstacle]="cellObstacle(y, x)"
                  [innerHTML]="displayCell(cell, y, x)"
            ></span>
          </td>

        </tr>

      </table>

    </div>
  </div>

</div>
