<app-header></app-header>

<h1>Map Management</h1>

<!--

<div class="col-md-4 offset-md-4">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text upload" id="btnUpload">Upload a new map</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="importFile">
      <label class="custom-file-label" for="importFile">Choose file</label>
    </div>
  </div>
</div>

<div class="alert alert-success" role="alert"
     (click)="setAlertMapUploaded(false)"
     [class.alert_map_uploaded_hide]="!getAlertMapUploaded()">
  <p>Map uploaded successfully!</p>
</div>

<div class="alert alert-danger" role="alert"
     (click)="setAlertInputError(false)"
     [class.alert_input_error_hide]="!getAlertInputError()">
  <p>The file must has a .txt extension</p>
  <p>The file must not be empty</p>
  <p>The allowed characters are the following: .........</p>
</div>

-->

<app-map></app-map>

<footer>
  <p>Application designed by <b>lineCode</b> group - A.A. 2020/2021 @UniPD</p>
</footer>
