html, body {
  background-color: #2875d4;
  height: 100vh;
}

#col-title {
  margin-top: 4%;
  text-align: center;
}

h1 {
  font-size: 150px;
  color: white;
}

#col-form {
  border-radius:  0px 8px 8px 0px;
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.12);
}
#col-img {
  border-radius:  8px 0px 0px 8px;
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.12);
  background-image: linear-gradient(45deg, #fff 20%, #2875d4 20%, #2875d4 40%, #fff 40%, #fff 60%, #2875d4 60%, #2875d4 80%, #fff 80%, #fff 100%);}

#cont-label {
  margin: 5% 5% 5% 5%;
}

h4,p {
  font-size: 100vm;
  margin-top: 4%;
}

input {
  /* stile input*/
  font-size:  16px;
  padding:  10px 10px;
  height:  56px;
  border:  none;
  border-bottom:  solid 2px rgba(5,0,0,.1);
  background:  #fff;

  margin-right: -20%;
  box-sizing:  border-box;
  transition:  all .3s linear;
  color:  #000;
  font-weight:  400;
  -webkit-appearance:  none;
}

button {
  border-radius:  24px;
  text-align:  center;
  padding:  15px 40px;

  float: right;
  background-color: rgba(46,157,255,0.74);
  color: white;
  font-size:  14px;
  margin-left:  auto;
  font-weight:  500;
  border:none;
  cursor:pointer;
  margin-bottom: 7%;
  margin-top: 3%;
  margin-right: 7%;
}

#my-label {
  padding-right:30px;
}
