<h1>Gestione Unità</h1>

<div class="New-Unit">
  <button onclick="myFunction()">Nuova Unita'</button>
</div>

<div class="title">
  <div class="container">
    <div class="row">
      <div class="col"> ID </div>
      <div class="col"> Elimina </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col"> 1 </div>
    <div class="col"><button onclick="myFunction()">Elimina</button></div>
  </div>

  <div class="row">
    <div class="col"> 5 </div>
    <div class="col"><button onclick="myFunction()">Elimina</button></div>
  </div>

  <div class="row">
    <div class="col"> 7 </div>
    <div class="col"><button onclick="myFunction()">Elimina</button></div>
  </div>

  <div class="row">
    <div class="col"> 2</div>
    <div class="col"><button onclick="myFunction()">Elimina</button></div>
  </div>

  <div class="row">
    <div class="col"> 23 </div>
    <div class="col"><button onclick="myFunction()">Elimina</button></div>
  </div>
</div>
