.header{
  padding: 5px;
  text-align: center;
}

footer {
  background: #2875d4;
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.body{
  background-color: #2875d4;
}
