* {
  font-family: 'Nunito', sans-serif
}

h1 {
  margin: 2%;
  font-size: 50px;
  text-align: center;
}

table {
  text-align: center;
}

label {
  margin: 5px;
}

input[type=text] {
  margin-right: 10px;
}

.alert_user_created_hide {
  display: none;
}

.alert_input_fields_hide {
  display: none;
}
