<app-header-admin></app-header-admin>

<div class="container-fluid" id="form">
  <h1>Users Management</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label>Username:
      <input type="text" formControlName="username" placeholder="Username">
    </label>

    <label>Password:
      <input type="text" formControlName="password" placeholder="Password">
    </label>

    <input type="radio" id="admin" name="status" formControlName="status" value="true">
    <label for="admin">Admin</label>
    <input type="radio" id="user" name="status" formControlName="status" value="false">
    <label for="user">User</label>

    <button class="btn active" aria-pressed="true" type="submit">Add user</button>
    </div>
  </form>
</div>

<div class="container-fluid justify-content-center" xmlns="http://www.w3.org/1999/html">
  <div class="row " id="row-hidden">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Username</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        <tbody>
        <tr *ngFor="let user of this.getUsers()" >
          <td>{{ user.getUsername() }}</td>
          <td>{{ user.getAdmin() }}</td>
          <td>
            <button class="btn active" aria-pressed="true" (click)="this.deleteUser(user.getUsername())">Delete</button></td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

